@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.App {
  /* this is for the old background, i dont recommend... lol */
  /* background-image: url("./assests/backgroundImage.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.formContainer {
  background   : #9bb7b396;
  border       : 3px solid #eae0e07a;
  border-radius: 34px;
  padding      : 40px;
  margin       : 10px;
}



  .carousel-slider, .feather{
    border       : 0px;
    outline      : 0px;
    border-radius: 8px;
    /* --mask: linear-gradient(to bottom, rgba(0,0,0, 1) 0, rgba(0,0,0, 1) 95%, rgba(0,0,0, 0) 100%, rgba(0,0,0, 0) 0 ) 100% 100% / 100% 100% repeat-x;
    mask: var(--mask); */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .faded {
    position: relative;
    display: inline-block;
    color: #F9FAFB;
    overflow: hidden;
  }
  .faded:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-collapse: separate;
  }
  .faded.faded-left:after {
    box-shadow: inset 40px 0 40px -16px;
  }
  .faded.faded-right:after {
    box-shadow: inset -40px 0 40px -16px;
  }
  .faded.faded-top:after {
    box-shadow: inset 0 40px 40px -16px;
  }
  .faded.faded-bottom:after {
    box-shadow: inset 0 -40px 40px -16px;
  }
  .faded.faded-left.faded-right:after {
    box-shadow: inset 40px 0 40px -16px, inset -40px 0 40px -16px;
  }
  .faded.faded-left.faded-top:after {
    box-shadow: inset 40px 40px 40px -16px;
  }
  .faded.faded-right.faded-bottom:after {
    box-shadow: inset -40px -40px 40px -16px;
  }
  .faded.faded-top.faded-right:after {
    box-shadow: inset -40px 40px 40px -16px;
  }
  .faded.faded-top.faded-bottom:after {
    box-shadow: inset 0 40px 40px -16px, inset 0 -40px 40px -16px;
  }
  .faded.faded-left.faded-bottom:after {
    box-shadow: inset 40px -40px 40px -16px;
  }
  .faded.faded-top.faded-right.faded-bottom:after {
    box-shadow: inset -20px 0 40px 16px;
  }
  .faded.faded-left.faded-right.faded-bottom:after {
    box-shadow: inset 0 -20px 40px 16px;
  }
  .faded.faded-left.faded-top.faded-bottom:after {
    box-shadow: inset 20px 0 40px 16px;
  }
  .faded.faded-left.faded-top.faded-right:after {
    box-shadow: inset 0 20px 40px 16px;
  }
  .faded.faded-all:after, .faded.faded-left.faded-top.faded-right.faded-bottom:after {
    box-shadow: inset 0 0 40px 16px;
  }
  .faded.faded-narrow.faded-left:after {
    box-shadow: inset 20px 0 20px -10px;
  }
  .faded.faded-narrow.faded-right:after {
    box-shadow: inset -20px 0 20px -10px;
  }
  .faded.faded-narrow.faded-top:after {
    box-shadow: inset 0 20px 20px -10px;
  }
  .faded.faded-narrow.faded-bottom:after {
    box-shadow: inset 0 -20px 20px -10px;
  }
  .faded.faded-narrow.faded-left.faded-right:after {
    box-shadow: inset 20px 0 20px -10px, inset -20px 0 20px -10px;
  }
  .faded.faded-narrow.faded-left.faded-top:after {
    box-shadow: inset 20px 20px 20px -10px;
  }
  .faded.faded-narrow.faded-right.faded-bottom:after {
    box-shadow: inset -20px -20px 20px -10px;
  }
  .faded.faded-narrow.faded-top.faded-right:after {
    box-shadow: inset -20px 20px 20px -10px;
  }
  .faded.faded-narrow.faded-top.faded-bottom:after {
    box-shadow: inset 0 20px 20px -10px, inset 0 -20px 20px -10px;
  }
  .faded.faded-narrow.faded-left.faded-bottom:after {
    box-shadow: inset 20px -20px 20px -10px;
  }
  .faded.faded-narrow.faded-top.faded-right.faded-bottom:after {
    box-shadow: inset -10px 0 20px 10px;
  }
  .faded.faded-narrow.faded-left.faded-right.faded-bottom:after {
    box-shadow: inset 0 -10px 20px 10px;
  }
  .faded.faded-narrow.faded-left.faded-top.faded-bottom:after {
    box-shadow: inset 10px 0 20px 10px;
  }
  .faded.faded-narrow.faded-left.faded-top.faded-right:after {
    box-shadow: inset 0 10px 20px 10px;
  }
  .faded.faded-narrow.faded-all:after, .faded.faded-narrow.faded-left.faded-top.faded-right.faded-bottom:after {
    box-shadow: inset 0 0 20px 10px;
  }
  .faded.faded-wide.faded-left:after {
    box-shadow: inset 80px 0 80px -28px;
  }
  .faded.faded-wide.faded-right:after {
    box-shadow: inset -80px 0 80px -28px;
  }
  .faded.faded-wide.faded-top:after {
    box-shadow: inset 0 80px 80px -28px;
  }
  .faded.faded-wide.faded-bottom:after {
    box-shadow: inset 0 -80px 80px -28px;
  }
  .faded.faded-wide.faded-left.faded-right:after {
    box-shadow: inset 80px 0 80px -28px, inset -80px 0 80px -28px;
  }
  .faded.faded-wide.faded-left.faded-top:after {
    box-shadow: inset 80px 80px 80px -28px;
  }
  .faded.faded-wide.faded-right.faded-bottom:after {
    box-shadow: inset -80px -80px 80px -28px;
  }
  .faded.faded-wide.faded-top.faded-right:after {
    box-shadow: inset -80px 80px 80px -28px;
  }
  .faded.faded-wide.faded-top.faded-bottom:after {
    box-shadow: inset 0 80px 80px -28px, inset 0 -80px 80px -28px;
  }
  .faded.faded-wide.faded-left.faded-bottom:after {
    box-shadow: inset 80px -80px 80px -28px;
  }
  .faded.faded-wide.faded-top.faded-right.faded-bottom:after {
    box-shadow: inset -40px 0 80px 28px;
  }
  .faded.faded-wide.faded-left.faded-right.faded-bottom:after {
    box-shadow: inset 0 -40px 80px 28px;
  }
  .faded.faded-wide.faded-left.faded-top.faded-bottom:after {
    box-shadow: inset 40px 0 80px 28px;
  }
  .faded.faded-wide.faded-left.faded-top.faded-right:after {
    box-shadow: inset 0 40px 80px 28px;
  }
  .faded.faded-wide.faded-all:after, .faded.faded-wide.faded-left.faded-top.faded-right.faded-bottom:after {
    box-shadow: inset 0 0 80px 28px;
  }

  img {
    max-width: 100%;
  }

  

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
